asgiref==3.3.0
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==3.1.8
django-crispy-forms==1.9.2
dj-static==0.0.6
future==0.16.0
gunicorn==19.9.0
html5lib==1.1
idna==2.6
Pillow==8.0.0
probableparsing==0.0.1
PyPDF2==1.26.0
python-crfsuite==0.9.7
pytz==2017.2
reportlab==3.5.53
requests==2.21.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.24.1
usaddress==0.5.10
webencodings==0.5.1
xhtml2pdf==0.2.3
