beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.5
django-crispy-forms==1.6.1
future==0.16.0
idna==2.6
probableparsing==0.0.1
python-crfsuite==0.9.5
pytz==2017.2
requests==2.21.0
urllib3==1.24.1
usaddress==0.5.10
