{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="pricing-header bg-info px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Start Here...</h1>
	<p class="lead">Enter the residential property address to get the following details:</p>
</div>
<div class="bg-light text-dark px-5 py-3 pt-md-5 pb-md-4">
	<div class="row">
		<div class="col-lg-2 col-md-1 col"></div>
		<div class="col-md-3 col-sm-12 bordered">
			<ul>
				<li><strong>Property Information</strong></li>
				<li><strong>Property Value</strong></li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-12">
			<ul>
				<li><strong>Rental Information</strong></li>
				<li><strong>Rental Investment Metrics</strong></li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-12">
			<ul>
				<li><strong>Area Information</strong></li>
				<li><strong>Area Natural Disaster Info</strong></li>
			</ul>
		</div>
	</div>
	<div class="row">
	</div>
	<hr>
	<div class="row align-content-center text-center">
		<div class="col-2"></div>
		<div class="col-md-8">
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<br>
				<?button type="submit" style="width:150px;height:50px;color:green;font-size:30px"?>
				<?/button?>
				<input type='submit' value='SUBMIT' class='btn-lg btn-lg btn-outline-info' /><br>
				<strong>Results may take a minute to return, please be patient</strong </form><br>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
		</div>

	</div>

</div>


{% endblock %}