{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}   

<div class="bg-info text-light px-1 py-5 pt-md-3 pb-md-1 mx-auto text-center">
    <h1 class="display-5">Edit Property Details</h1>
</div>
<div class="row bg-light text-dark px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<p class="lead"> * indicates required fields</p>
	<div class="col-2"></div>
	<div class="col-md-8">
		<form method="post">
			{% csrf_token %}
			<b>{{ form|crispy }}</b>
			<button type="submit" class="btn-outline-info">Submit</button>
		</form>
	</div>
</div>

{% endblock %}