<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Propalyzer </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/style.css' %}" />

    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto navbar-fixed-top shadow-lg">
        <div class="inner">
            <div class="row">
                <h3 class="masthead-brand px-5">Propalyzer</h3>
                <nav class="nav nav-masthead justify-content-center nav-right">
                <a class="link" href="/propalyzer/">Home</a>
                <a class="link" href="/propalyzer/disclaimer">Disclaimer</a>
          </nav>
            </div>
        </div>
      </header>

        <div class="body-content pricing-header px-3 py-3 pt-md-5 pb-md-4">
            {% block content %}{% endblock %}
        </div>


      <footer class="mastfoot mt-auto text-center">
        <div class="inner">
            © Zillow, Inc., 2006-2016. Use is subject to <strong></strong><a href="https://www.zillow.com/howto/api/APITerms.htm">Terms of Use</a></strong><br>
            <a href="https://www.zillow.com/zestimate/">What's a Zestimate?</a>
        </div>
      </footer>
    </div>



    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
